{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container my-4">
  <h2>UPDATE PATIENT REPORT</h2>
  <hr>
</div>



<div class="container my-4">



<form method="POST">{% csrf_token %}
  <div class="form-group">

    {{form.name|as_crispy_field}}
  </div>

  <div class="form-group">

    {{form.complaint|as_crispy_field}}
  </div>
 
  <div class="form-group">
     {{form.investigation|as_crispy_field}}
  </div>

  <div class="form-group">
     {{form.examination|as_crispy_field}}
  </div>
   <button type="submit" class="btn btn-primary mb-2">Update Patient Details!</button>
</form>

</div>


{% endblock %}